body{
  background-color: #a6abad
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-femly: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content{
  min-hight: 1000px;
  width: 90%;
  margin: 20px auto;
  display: grid;
   grid-template-rows: 20% 80%;
   grid-template-columns: 300px 700px;
}
.left-section{
  grid-area: 1/1/3/2;
  grid-column: span 1;
  background-color: rgb(66, 52, 52);
}
.right-section{
  grid-area:1/2/3/3;
  grid-cloumn: span 1/span 2;
  background-color:#f7f7f7;
}
.left-content{
    padding: 1rem;
    color: white;
}
.profile-img{
    margin: auto;
    display: block;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
}
.social-media{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    padding:5px;
}
.social-media li{
    list-style-type: none;
}
.social-media li a{
    text-decoration: none;
}
.skills{
    text-align: center;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}
.skill-item{
    padding: 10px;
}
.skill-name{
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar{
    border: 1px solid white;
    height: 2px;
    background-color: black;
}
.right-main-content{
    padding: 2rem 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.para{
    padding-left: 0.5rem;
}
@media screen and (max-width:673px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}